<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SSIS | @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/Content/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../Content/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });</script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/atlantis.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.css"

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .field-validation-error, .validation-summary-errors {
            color: red;
        }

        .input-validation-error {
            border: red solid 2px;
        }

        .input-validation-error {
            border: red solid 2px;
        }
    </style>
    @Styles.Render("/Content/select")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="wrapper">
        <div class="main-header">
            @Html.Partial("_LogoSection")
            @Html.Partial("_Navbar")
        </div>
        <!-- Sidebar -->
        @Html.Partial("Store/_SideBar")
        <!-- End Sidebar -->
        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    @RenderBody()
                </div>
            </div>
            <footer class="footer bg-primary text-white text-center">
                <div class="container-fluid">
                    <div class="nav-link text-center">
                        Made with <i class="fa fa-heart heart text-danger"></i> by Team 3
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/b-1.6.1/b-print-1.6.1/r-2.2.3/datatables.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>



    <!-- Atlantis JS -->
    <script src="~/Content/assets/js/atlantis.min.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
